*{
    margin: 0;
    padding: 0;
}

.body {
    font-family: "Playfair Display", serif;
  
}
  
.cabecalho{
    background-color: #B81111;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.saopaulo-imagem{
    width: 20%;
}

.saopaulo{

    background-image: linear-gradient(#B81111,#4A0909 );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.saopaulo-div-conteudo{
    width: 35%;
}
.saopaulo-titulo{
    padding: 24px 0;
}

.jogadores-imagem{
    width: 180px;
} 

.jogadores-icone{
    width: 24px;
}

.jogadores-div{
    text-align: center;
    padding: 16px 0;
}

.jogadores-titulo{
    text-align: center;
    padding: 50px 0;
}

.jogadores-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-image{
    height: 60px;
    width: 24px 0;
}